 #donar-part {
     background-image: url(images/donation12.png);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;

 }

 * {
     margin: 0;
     padding: 0;
 }

 .donar-contents {
     padding: 50px 10px;
     text-align: center;
     color: white;
     font-size: 2.3rem;

 }

 .color-code {
     color: white;
     background-color: brown;
     padding: 15px 15px 15px 15px;
     font-size: large;
 }

 .donation-own {
     text-align: center;
 }

 .circle-part {
     text-align: center;
     padding: 15px 15px 15px 15px;

 }

 .button-one {
     border: 10px;
     font-size: larger;
     margin-right: 10px;
 }

 .button-two {
     border: 2px solid red;
     font-size: 1.5rem;
     padding: 10px 10px 10px 10px;
     background-color: rgb(241, 154, 154);
     color: red;
     margin-right: 10px;
 }

 .button-three {
     border: 10px;
     font-size: larger;
     margin-right: 10px;
 }

 .button-four {
     border: 10px;
     font-size: larger;
     margin-right: 10px;
 }

 .button-five {
     border: 10px;
     font-size: larger;
     margin-right: 10px;
 }

 .border-ratio {
     text-align: center;
 }

 .btn {

     left: 50%;
     right: 50%;

     position: absolute;
 }

 #bo-b {

     background-color: brown;
     color: white;
     border: 2px solid red;
     padding: 15px 15px 15px 15px;
     font-size: large;
 }

 .circle-grow {
     text-align: center;
 }

 #container-cor {
     width: 900px;
     margin: 0 auto;
 }

 .colm-one,
 colm-two,
 colm-three {
     width: 200px;
     float: lext;
     margin: 10px;
 }

 .side-side {
     display: flex;
     margin: 50px;
     border-right: 150px;
     border: 10px solid white;
     box-shadow: 10px 10px 10px white;
 }

 .side-part {
     border: 5px solid white;
     padding-right: 5px;
     background-color: aquamarine;
     padding: 60px 60px 60px 60px;
     background-image: url(icons/food.png);
     background-repeat: no-repeat;


 }

 .selter-part {
     border: 5px solid white;
     padding-right: 5px;
     background-color: aquamarine;
     padding: 60px 60px 60px 60px;
     background-image: url(icons/shelter.png);
     background-repeat: no-repeat;

 }

 .education-part {
     border: 5px solid white;
     padding-right: 5px;
     background-color: aquamarine;
     padding: 60px 60px 60px 60px;
     background-image: url(icons/Frame-1.png);
     background-repeat: no-repeat;

 }

 .celebrety-part {
     text-align: center;
 }

 section {
     display: flex;
     margin-top: 20px;
 }

 h1 {
     text-align: center;
 }

 p {
     text-align: center;
 }

 div {
     text-align: center;
     padding: 20px 20px 20px 20px;
 }

 input(type="email") {
     border: none;
     width: 400px;
     height: 40px;



 }




 footer {
     text-align: center;
 }

 footer h1 {
     color: blue;
 }

 .foot-part {
     background-color: black;
 }

 footer p {
     color: white;
 }